.vnk-welcome {
  // position: relative;
  .welcome-back {
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 110%;

    align-items: center;
    color: #212353;
  }

  .vnk-login {
    margin-left: 15%;
    width: 1117px;
    height: 560px;

    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;

    @media only screen and (max-width: 767.99px) {
      margin-left: 0;
      width: auto;
      height: auto;
    }

    .welcome-text {
      padding-top: 30px;
      font-weight: normal;
      font-size: 36px;
      line-height: 130%;
      /* identical to box height, or 47px */
      color: #212353;
    }
    .vnk-content-login {
      width: 532px;
      height: 318px;
      background: #ffffff;
      margin-top: 50px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      margin: auto;
      z-index: 2;

      .login-form {
        width: 300px;
        margin: auto;
        margin-top: 22px;

        .ant-checkbox-wrapper {
          float: left;
        }
      }
    }

    .img-welcome-left {
      position: absolute;
      top: 15%;
      left: 13%;
      width: 477px;
      height: 504px;
      @media only screen and (max-width: 767.99px) {
        display: none;
      }
    }
    .img-welcome-right {
      position: absolute;
      width: 251px;
      height: 201px;
      right: 32%;
      top: 45%;
      z-index: 3;
      @media only screen and (max-width: 767.99px) {
        display: none;
      }
    }
  }

  .sercurity {
    @media only screen and (max-width: 767.99px) {
      display: none;
    }

    .sercurity-bg {
      position: absolute;
      width: 365px;
      height: 300px;
      left: 1206px;
      top: 40%;
      background: #2d9cdb;
      opacity: 0.1;
      border-radius: 20px;
    }
    .search-data-bg {
      position: absolute;
      width: 300px;
      height: 325px;
      left: 2%;
      top: 30%;
      background: #2d9cdb;
      opacity: 0.1;
      border-radius: 20px;
    }

    .sercurity-text {
      position: absolute;
      right: 20%;
      top: 45%;
    }

    .search-data-text {
      position: absolute;
      top: 35%;
      left: 4%;
    }

    .sercurity-title {
      font-size: 24px;
      line-height: 130%;
      align-items: center;
      color: #212353;
    }
    .sercurity-content {
      width: 240px;
      height: 160px;
      font-size: 16px;
      line-height: 160%;
      color: #4b5d68;
    }
    .learn-more {
      display: flex;
      font-family: 'Aclonica';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 160%;
      align-items: center;
      letter-spacing: 0.005em;
      color: #212353;

      .anticon-arrow-right {
        padding-left: 30px;
        color: #9c69e2;
      }
    }
  }

  .vnk-content-regisrer {
    width: 532px;
    height: 318px;
    background: #ffffff;
    margin-top: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: auto;
    z-index: 2;

    .register-form {
      width: 400px;
      margin: auto;
      padding-top: 22px;

      .ant-checkbox-wrapper {
        float: left;
      }

      .ant-form-item {
        width: 300px;
      }
    }
    @media only screen and (max-width: 767.99px) {
      width: auto;
    }
  }

  .img-search-data {
    position: absolute;
    top: 35%;
    left: -18%;
    @media only screen and (max-width: 767.99px) {
      display: none;
    }
  }
  .img-market {
    position: absolute;
    width: 800px;
    height: 468px;
    top: 14%;
    left: 60%;
    @media only screen and (max-width: 767.99px) {
      display: none;
    }
  }

  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 120px;
    height: 38px;
    background: #bb2129;
    border-color: #bb2129;
    border-radius: 6px;
  }

  .form-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #000000;
  }
}

.flex {
  display: flex;
}
