@font-face {
    font-family: Ubuntu;
    src: url('Ubuntu-R.ttf') format('truetype');
}
@font-face {
    font-family: UbuntuItalic;
    src: url('../fonts/ubuntu/Ubuntu-RI.ttf') format('truetype');
}
@font-face {
    font-family: UbuntuBold;
    src: url('../fonts/ubuntu/Ubuntu-B.ttf');
}
@font-face {
    font-family: UbuntuBoldItalic;
    src: url('../fonts/ubuntu/Ubuntu-BI.ttf');
}
@font-face {
    font-family: UbuntuLight;
    src: url('../fonts/ubuntu/Ubuntu-L.ttf');
}
@font-face {
    font-family: UbuntuLightItalic;
    src: url('../fonts/ubuntu/Ubuntu-LI.ttf');
}
@font-face {
    font-family: UbuntuMedium;
    src: url('../fonts/ubuntu/Ubuntu-M.ttf');
}
@font-face {
    font-family: UbuntuMediumItalic;
    src: url('../fonts/ubuntu/Ubuntu-MI.ttf');
}
@font-face {
    font-family: UbuntuCondensed;
    src: url('../fonts/ubuntu/Ubuntu-C.ttf');
}
